<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
  <servlet>
    <servlet-name>Spring4-WebApllication</servlet-name>
    <servlet-class>
        org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </init-param>
    <!-- look for Java-based Spring configuration class in the com.my.java.solutions.config package.  -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>com.my.java.solutions.config</param-value>
    </init-param>
  </servlet>
 
 <!-- mapped to all URLS “/” -->
  <servlet-mapping>
    <servlet-name>Spring4-WebApllication</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
 
</web-app>